
/* General */
.footer-copyright {
    background-color: #F7DA80;
    color: #616161;
}

.copy{
    margin: auto;
}

.page-footer{
    background-color: #EFE2AE;
    color: #616161;
}

.imageTitle{
    height: 40%;
    width: 40%;
}

.text-end{
    margin-top: 0;
}

.bold-link{
    color: #616161;
    font-weight: bold;
}

.bold-link:hover{
    color: #918b8b;
}

.row{
    margin: 0;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .mobile {
         display: block;
         margin-left: auto;
         margin-right: auto;
     }

     h5 {
         margin-top: 0;
         text-align: center;
     }
     ul {
         text-align: center;
     }

     p {
         text-align: center;
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .title{
        margin: 0px;
    }
    
    p{
        font-family:'Segoe UI';
        font-size: large;
    }

    ul{
        margin-top: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1079px) {
    .title{
        margin: 0px;
    }
    
    p{
        font-family:'Segoe UI';
        font-size: medium;
    }
}

@media only screen and (min-width: 1080px) {
    .title{
        margin-top: 0px;
    }
    
    ul li {
        width:10em;
        float:left;
    }
    
    p{
        font-family:'Segoe UI';
        font-size: medium;
    }

}

