<footer class="page-footer">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
              <div class="col l12">
                <img class="imageTitle" src="assets/images/title 2.png"/>
              </div>
              <div class="col l12 ">
                  <p class="text-lighten-4 text-end">Where the taste becomes a pleasure. <br> <b>All resources and media are owned by ©PiPi PoPo's Bakery</b> </p>
              </div>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="">Overview</h5>
            <ul>
              <li><a class="text-lighten-3 bold-link" href="about-us">About Us</a></li>
              <li><a class="text-lighten-3 bold-link" href="catalogue/cakes">Cakes</a></li>
              <li><a class="text-lighten-3 bold-link" href="catalogue/drinks">Drinks</a></li>
              <li><a class="text-lighten-3 bold-link" href="catalogue/specialties">Specialities</a></li>
              <li><a class="text-lighten-3 bold-link" href="contact-us">Contact Us</a></li>
              <li><a class="text-lighten-3 bold-link" href="locations">Locations</a></li>
            </ul>
          </div>
        </div>
      </div>
    <div class="footer-copyright">
        <div class="col s12 l12 copy">
            <p>©PiPi PoPo's Bakery 2021. All Rights Reserved.</p>
        </div>   
    </div>
</footer>

