.footer-copyright {
    background-color: #F7DA80;
    color: #616161;
}

.copy{
    margin: auto;
}

.page-footer{
    background-color: #EFE2AE;
    color: #616161;
}

.imageTitle{
    height: 80%;
    width: 80%;
}

.text-end{
    margin-top: 0;
}

.bold-link{
    color: #616161;
    font-weight: bold;
}

.bold-link:hover{
    color: #918b8b;
}

.row{
    margin: 0;
}

p{
    font-family:'Segoe UI';
    font-size: x-large;
}