/* General */
 *{
    font-family: Helvetica;
 }
 .button-color{
    background-color: #634118;
}
.card {
    background: rgba(247, 218, 128, 0.4)
}
.title {
    font-size: 2rem;
}
.card-content{
    padding-bottom: 10px;
    width: 100%;
}
    
.price-tag {
    color:#707070;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    font-size: 3rem;
}

.count {
    border: none;
    border-radius: 2px;
    display: inline-block;
    width: 4rem;
    height: 50px;
    line-height: 36px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #F7DA80;
    vertical-align: middle;
    margin: 0;
    background: #634118;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.icon {
    width: 2rem;
    vertical-align: middle;
}

.upDown {
    height: 50px;
    background: #634118;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .image {
        margin-left: auto;
        margin-right: auto;
        max-width: 242px;
        max-height: 157px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .image {
        margin-left: auto;
        margin-right: auto;
        max-width: 242px;
        max-height: 157px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1079px) {
    .image {
        margin-left: auto;
        margin-right: auto;
        max-width: 242px;
        max-height: 157px;
    }
}

@media only screen and (min-width: 1080px) {
    
    .image {
        max-width: 360px;
        max-height: 233px;
    }

    .products {
        margin-left: 62px;
        margin-right: 63px;
    }
}


