<div class="col s12 m12 l4 center-align">
    <div class="products card">
      <div class="card-content">
        <p class="title">{{data.name}}</p>
    </div>
      <div class="card-image">
        <img  class="image" src="assets/products/{{data.img}}">
        <a class=" btn-small button-color" href="catalogue/specialties/twinkie">Description</a>
        
      </div>
      <div class="card-content">
          <p class="price-tag">$ {{data.price}}.00 USD</p>
      </div>
      <div class="card-action center">
          <div class="input-field">
              <button class="btn waves-effect upDown" (click)="decrement()"> <img class="icon" src="assets/icons/minus.png"/></button>
              <input #box class="count" (keyup.enter)="onEnter(box.value)" value="{{counter}}">
              <button class="btn waves-effect upDown" (click)="increment()"> <img class="icon" src="assets/icons/add.png"/></button>
          </div>            
      </div>
    </div>
</div>

      