<div class="row component grey-text text-darken-2 valign-wrapper">
    <div class="col l2">
        <a href=""><img class="imagePiPi" src="../../../assets/images/pipi_popo_cake.png"/></a>
    </div>
    <div class="col l8 center-align">
      <img class="imageTitle" src="../../../assets/images/title.png" />
    </div>
    <div class="col l2 center-align">
        <a class="waves-effect waves-light component"><img class="imageIcon" src="../../../assets/images/white-youtube.png" /></a>
        <a class="waves-effect waves-light component"><img class="imageIcon" src="../../../assets/images/white-instagram.png" /></a>
        <a class="waves-effect waves-light component"><img class="imageIcon" src="../../../assets/images/white-twitter.png" /></a>    
        <a class="waves-effect waves-light component"><img class="imageIcon" src="../../../assets/images/white-facebook.png" /></a>        
    </div>
    <div class="col l1">
      <a class="btn-floating btn-large waves-effect waves-light component modal-trigger btn" data-target="modal1"><img class="imageIconCart" src="../../../assets/images/cart.png" /></a>
    </div>
</div>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a class="menuButtons" href="catalogue/cakes" style="color: #F7DA80">Cakes</a></li>
  <li><a class="menuButtons" href="catalogue/drinks" style="color: #F7DA80">Drinks</a></li>
  <li><a class="menuButtons" href="catalogue/specialties" style="color: #F7DA80">Specialties</a></li>
</ul>
<nav>
  <div class="nav-wrapper menu">
    <ul class="left hide-on-med-and-down">
      <li><a class="menuButtons" href="about-us" style="color:#634118">About Us</a></li>
      <li><a class="dropdown-trigger menuButtons" href="#!" data-target="dropdown1" style="color:#634118">Catalogue</a></li>
      <li><a class="menuButtons" href="contact-us" style="color:#634118">Contact Us</a></li>
      <li><a class="menuButtons" href="locations" style="color:#634118">Locations</a></li>
    </ul>
  </div>
</nav>
<div id="modal1" class="modal bottom-sheet component">
  <div class="modal-content">
    <h4>Shopping Cart</h4>
    <p>Products go here oh dear god</p>
  </div>
  <div class="modal-footer component">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Order Now</a>
  </div>
</div>