.component{
    background-color: #F7DA80;
}

.imagePiPi{
    width: 55%; 
    height: auto;   
    margin-left: 40px;
}

#logo{
    width: 55%; 
    height: auto;
}

.row{
    margin: 0;
}

.imageTitle{
    height: 80%;
    width: 80%;
    margin-bottom: -70px;
    margin-top: -50px;
}

.imageIcon{
    height: 30px;
    width: 30px;
    margin: 12px;
    margin-right: 20px;
}

.imageIconCart{
    height: 30px;
    width: 30px;
    margin: 12px;
    
}

#search{
    background-color: #F7DA80;
    border-radius: 25px;
}

.light-blue{
    background-color: #F7DA80;
}

nav .label-icon.active {
    color: white !important;
}

.imageSearch{
    height: 47px;
    width: 47px;
}

.titled {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 120px;
}

p{
    font-family:'Segoe UI';
    font-size: x-large;
}

.menu{
    background-color: #C9B47F;
    border-color: #C9B47F;
}

.dropdown-content{
    background-color: #875F2F;
}

.dropdown-content li{
    background-color: #875F2F;
    color: #F7DA80;
}

.test{
    border-width: 1px;
    border-style: solid;
    border-color: magenta;
}

.menuButtons{
    border-width: 1px;
    border-style: solid;
    border-color: #C9B47F;
    font-size: large;
}
