.background{
    background-color: #EAE7CD;
}

.title{
    color:#707070;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    font-size: 4rem;
    margin: 15px;
}

.panel{
    background-color: #EFECEC;
    min-height: 600px !important;
    
}

.full-width {
    height: 100%;
    min-height: 700px !important;
    margin-top: -10px;
}