<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style> 
</head>


<div class="row background card-panel full-width">
    <div class="col s10 push-s1 m10 push-m1 l10 push-l1 panel">
        <div class="col s12 m12 l6 center-align">
            <p>Sucursal Carranza</p>  
            <ul>
                <li>Blvd Venustiano Carranza 2001
                    Villa Bonita, 21379, Mexicali, BC.
                </li>
            </ul>
            <div class="col s12 m12 l12 center">
                <img class="image" src="assets/images/mapa1.png" alt="map">   
            </div>
        </div>
        <div class="col s12 m12 l6 panel center-align">
            <p>Sucursal Anahuac</p>  
            <ul>
                <li>Blvd Anahuac entre islas
                    Hawai y Salomon, 21255
                </li>
            </ul>
            <div class="col s12 m12 l12 center">
                <img class="image" src="assets/images/mapa2.png" alt="map2">
            </div>
        </div>

          
    </div>

    

</div>  