
.background{
    background-color: #EAE7CD;
}


.full-width {
    height: 100%;
    min-height: 700px !important;
    margin-top: -10px;
}


.imagePiPi{
    width: 55%; 
    height: 20%;   
    margin-left: 40px;
}