<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style> 
</head>


<div class="row background card-panel full-width">
    <div class="col l8 push-l2 panel">
        <p style="font-size:x-large; margin-left: 0px; font-family:Arial, Helvetica, sans-serif;">Sucursal Carranza</p>  
        <ul style="font-size:large; margin-left: -155px; font-family:Arial, Helvetica, sans-serif;">
            <li>Blvd Venustiano Carranza 2001
                Villa Bonita, 21379, Mexicali, BC.
            </li>
        </ul>
       
          
</div>

<div class="col l2  panel">
    <p style="font-size:x-large; font-family:Arial, Helvetica, sans-serif;">Sucursal Anahuac</p>  
    <ul style="font-size:large; margin-right: 0px; font-family:Arial, Helvetica, sans-serif;">
        <li>Blvd Anahuac entre islas
            Hawai y Salomon, 21255, Mexicali, BC.
        </li>
    </ul>
    
        
</div>

 
<div class="col l12 ">
    <img style="margin-left:165px;" src="../../../assets/images/mapa1.png" width= "500" height="450" alt="map">   
</div>

        
</div>  