<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style> 
</head>

<div class="row background card-panel full-width">
    <div class="col s12 m8 push-m2 l8 push-l2 panel">
        <p class="title">Twinkie Doge</p>  
        <div class="holder center-align">
            <img class="image center" src="assets/products/twinkie.png">   
        </div>
        <ul class="p center">
            <li><b>Description:</b>  The twinkie doge is a combination of a traditional twinkie but with the surprise flavor and image of doge.
            </li>
            <br>
            <li><b>Ingredients:</b> Flour, sugar, corn syrup, water, high fructose corn syrup, partially hydrogenated vegetable shortening, love, dextrose (a type of sugar), and eggs.</li>
            <br>
            <li><b>Price:</b>  2.00 USD</li>
        </ul>
    </div>
</div>  
