.background{
    background-color: #EAE7CD;
}

.title{
    color:#707070;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    font-size: 4rem;
    margin: 15px;
}

.panel{
    background-color: #EFECEC;
}

.full-width {
    margin: 0;
}