<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style> 
</head>

<div class="row background card-panel full-width">
    <div class="col l8 push-l2 panel">
        <p style="font-size:xx-large; margin-left: 40px; font-family:Arial, Helvetica, sans-serif;">About us</p>  
        <ul style="font-size:x-large; margin-left: 80px; font-family:Arial, Helvetica, sans-serif;">
            <li>Mision: To satisfy our client's palate through our bakery's products
                 and the great service we provide.
            </li>
            <br>
            <li>Vision: Become a highly ranked trademark in the bakery market nationwide.</li>
            <br>
            <li>Values: The main values we hold dear are: hygine, respect, trust, honesty, responsability and creativity.</li>
        </ul>
        <div class="col l12 center">
            <img class="image" src="assets/images/pipipopo.png">   
        </div>
          
    </div>
</div>  
