
.background{
    background-color: #EAE7CD;
}

.panel{
    background-color: #EFECEC;
    min-height: 600px !important;
    
}

.full-width {
    height: 100%;
    min-height: 700px !important;
    margin-top: -10px;
}

.image{
    width: 28%;
    height: 28%;
    margin-top: -70px;
    align-items: center;
    margin-left: 600px;
}
