<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    </style> 
</head>

<div class="row background card-panel full-width">
    <div class="col s12 m8 push-m2 l8 push-l2 panel">
        <p class="title">About us</p>  
        <ul class="p center">
            <li><b>Mission:</b> To satisfy our client's palate through our bakery's products
                 and the great service we provide.
            </li>
            <br>
            <li><b>Vision:</b> Become a highly ranked trademark in the bakery market nationwide.</li>
            <br>
            <li><b>Values:</b>  The main values we hold dear are: hygine, respect, trust, honesty, responsability and creativity.</li>
        </ul>
        <div class="row holder">
            <img class="image right hide-on-small-and-down" src="assets/images/pipipopo.png">
            <img class="image center hide-on-med-and-up" src="assets/images/pipipopo.png">      
        </div>
    </div>
</div>  
